*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html .tag{
    scroll-behavior: smooth;
}
.container{
            
    width: 425px; /* Typical mobile screen width, e.g., iPhone 12 */
    max-width: 100%;
    margin: 0 auto;
    background-color: #410F0F;
    border: 1px solid #ccc;
   // height: 812px; /* Height can vary based on the phone model */
    /* overflow-y: scroll; */
}
.container .venue{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .venue iframe {
    position: absolute;
    /* left: 10px; */
    /* top: 10px; */
    margin-bottom: 120px;
    height: 126px;
    width: 55vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}
.container .venue button{
    position: absolute;
    margin-top: 29vh;
    padding: 3vh;
    padding-left: 80px;
    padding-right: 80px;
    background-color: transparent;
    /* height: 126px; */
    /* width: 70%; */
}

.container img{
    width: 100%;
    /* height: 100vh; */
    /* shape-margin: 0.75rem; */
}